<!DOCTYPE html>
<html>

<head>
    <title>Winner</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='styles.css' rel='stylesheet'>
</head>

<body>

    <div class='wholeWrapper'>
        <h1>Your a Winner</h1>
        <p class='word'>The word was: <span class='upperCase'>{{randomWord}}</span></p>
        <img src='https://proxy.bigfooty.com/forum/proxy.php?image=http%3A%2F%2Fm.memegen.com%2Fhd0u1j.jpg&hash=66dd31ddb462f0f65a04b687a6e45311' alt='winner'>
        <form class='failForm' action='/again' method='POST'>
            <span id='confirm'><input type = 'submit' value='PLAY AGAIN' class='gotIt'></span>
        </form>
    </div>
</body>
</html>
