<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
      <link href='styles.css' rel='stylesheet'>
    <title>Mystery Word Game</title>
  </head>
  <body>

    <div class='wholeWrapper'>
        <div class='game'>
            <h1>Mystery Word Game</h1>
            <p class='randomWord'>{{ computerWord }}</p>
            <p class='subTitle'> Enter Your Guess Below</p>
            <form class='WholeForm' action='/' method='POST'>
                <input type='text' name='guessedLetter' class='guess' maxlength='1'>
                <br>
                <input type='submit' class='submit' value='SUBMIT'>
            </form>
            <p>You have {{guessCount}} guesses</p>
            <p>Guessed Letters: {{userGuess}}</p>
        </div>
        <p class='error'>{{errorMessage}}</p>
        <form action='/error' method='POST'>
          <img class='mainImg' src='http://2.bp.blogspot.com/_Wj0r4_QViTc/TIlJL40XEJI/AAAAAAAAAZo/WZabVJbzTVI/s1600/mystery+word.jpg' alt='mystery word'>
        </form>
    </div>

</body>
</html>
