body {
  font-family: Arial, Helvetica, sans-serif;
}

.wholeWrapper {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

.guess {
  text-transform: lowercase;
  border: none;
  text-align: center;
  font-size: 2rem;
  border-bottom: 1px solid black;
  width: 10%;
  height: 4rem;
}

.guess:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.submit {
  -webkit-appearance: none;
  background: none;
  border: 1px solid black;
  width: 51%;
  margin-top: 3%;
  height: 2rem;
  transition: all 1s;
}

.submit:hover {
  cursor: pointer;
  background: black;
  color: white;
  border: 1px solid black;
  transition: all 1s;
}

.gotIt {
  -webkit-appearance: none;
  border: 1px solid black;
  background: none;
  transition: all 1s;
  width: 40%;
  height: 3rem;
  margin: 0 auto;
}

.gotIt:hover {
  background: black;
  color: white;
  transition: all 1s;
  cursor: pointer;
  width: 40%;
}


.WholeForm {
  display: block;
}

.randomWord {
  font-size: 2.3rem;
  letter-spacing: 3%;
}

.error {
  color: red;
  font-size: 3rem;
}

.failForm {
  margin: 0 auto;
}

.upperCase {
  text-transform: uppercase;
}
